.landing-page {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.landing-page-column {
  width: 500px;
  max-width: calc(100% - 40px);
  padding-top: 192px;
  padding-bottom: 140px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .landing-page-column {
    padding-top: 120px;
    padding-bottom: 100px;
  }
}

@media (max-width: 640px) {
  .landing-page-column {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}
